/* место для вашего кода */
/* =================== Header =================== */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 88px 50px 93px;
    font-size: 18px;
}

.header__menu .menu__list,
.header__menu .header__links-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header__link {
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

.header__logo img {
    width: 140px;
}

.header__address {
    line-height: 24px;
    width: 240px;
    justify-self: end;
}

.header__links-list-item:not(:first-child)::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 15px;
    border: 1.5px solid #000;
    border-radius: 50%;
    vertical-align: middle;
}


/* =================== Cover =================== */
.cover {
    padding: 145px 50px 50px;
}


.cover > *:not(.overlay) {
    position: relative;
    z-index: 2;
}

.cover__title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    justify-items: start;
    text-transform: uppercase;
    margin-bottom: 103px;
}

.aligned-text {
    display: block;
    padding-top: 19px;
}

.aligned-text_center {
    justify-self: center;
}

.aligned-text_right {
    justify-self: end;
}

.letter-spacing-extended {
    font-size: 100px;
    letter-spacing: 0.30em;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}

.cover__description-text {
    display: inline-flex;
    align-items: baseline;
    text-transform: uppercase;
    line-height: 28px;
    font-size: 22px;
}

.ws-80 {
    margin-left: calc(22px * 0.8);
}

.ws-90 {
    margin-left: calc(22px * 0.9);
}

.ws-110 {
    margin-left: calc(22px * 1.1);
}


.bet-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 256px;
    height: 51px;
    border: 1px solid #fff;
    padding: 12px 32px 11px 31px;
    background-color: transparent;
    color: #fff;
    transition: background-color .2s ease, box-shadow .2s ease, transform .02s ease;
}

.cover + .lots {
    margin-top: 180px;
}

/* =================== Lots =================== */
.lots__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-left: 65px;
}

.lots__list {
    margin: 0 24px 30px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
}

.lots__item {
    flex: 1 1 calc((100% - 40px) / 3);
}

.card {
    position: relative;
    color: #fff;
    background-size: cover;
    background-position: center;
    padding: 50px 40px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.lots__more-link {
    display: inline-block;
    font-size: 20px;
    margin-left: 65px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
}


.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.card > * {
    position: relative;
    z-index: 1;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card_type_book .card__text {
    margin-top: 30px;
}

.card__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.card__text {
    margin-top: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-break: normal;
}

.lots + .about {
    margin-top: 160px;
}

/* =================== About =================== */
.about {
    display: grid;
    grid-template-columns: calc((100% - 40px) / 3) 1fr;
    align-items: start;
    margin-bottom: 180px;
    margin-left: 20px;
}

.about__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    box-sizing: border-box;
    justify-self: center;
}

.about__logo-link img {
    width: 140px;
    filter: invert(1);
}

.about__title {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin: 98px 0 100px 15px;
}

.about__text {
    padding-right: 24px;
    padding-left: 15px;
}

.about__text p {
    font-size: 20px;
    font-weight: 400;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

.about__text p:last-child {
    margin-bottom: 0;
}

/* =================== Footer =================== */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 5px 50px 82px;
    align-items: start;
}

.footer__address {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    text-align: left;
    justify-self: start;
    max-width: 240px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    display: grid;
    justify-items: center;
    text-align: center;
}

.footer__menu-list-item {
    font-size: 18px;
}

.footer__menu-link {
    color: inherit;
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 48px;
    justify-content: flex-end;
    justify-self: end;
}

.footer__social-link {
    display: inline-flex;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    display: block;
}